<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col-1">
        <button pButton pRipple type="button" icon="pi pi-home"class="p-button-rounded p-button-success p-button-outlined" (click)="goHome()" ></button>
    </div>
</div>
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<br>
<p-card>
<p-table [value]="products" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
        <h1>ตารางข้อมูลผู้ปกครอง</h1>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>บัญชีผู้ใช้</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>เบอร์โทร</th>
            <th>ที่อยู่</th>
            <th style="text-align:center">แก้ไข</th>
            <th style="text-align:center">ลบ</th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.par_user}}</td>
            <td>{{product.par_title}}{{product.par_name}}</td>
            <td>{{product.par_sname}}</td>
            <td>{{product.par_tel}}</td>
            <td>{{product.par_address}}</td>
            <td style="text-align:center">
                <button  pButton pRipple type="button"  icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button> 
            </td>
            <td style="text-align:center">
                <button  pButton pRipple type="button"  icon="pi pi-trash" (click)="saveDeleteParent(product)" class="p-button-rounded p-button-text  p-button-danger"></button>
            </td>
        </tr>
    </ng-template>

</p-table>
</p-card>

<p-dialog  [(visible)]="parentDialog"[style]="{width: '450px'}" header="ข้อมูลผู้ปกครอง" [modal]="true"styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid p-ai-center vertical-container">
            <div class="p-col">
                <label for="name">คำนำหน้า</label>
                <p-dropdown
                     [options]="title" [(ngModel)]="checkParent[0].par_title" placeholder="{{checkParent[0].par_title}}">
                </p-dropdown>
            </div>
        </div>
        <div class="p-field">
            <label for="name">ชื่อผู้ใช้</label>
            <input type="text" pInputText placeholder="{{checkParent[0].par_name}}" [(ngModel)]="checkParent[0].par_name"  required autofocus>
			<!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
        <div class="p-field">
            <label for="name">นามสกุล</label>
            <input type="text" pInputText placeholder="{{checkParent[0].par_sname}}" [(ngModel)]="checkParent[0].par_sname"  required autofocus>
			<!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
        <div class="p-field">
            <label for="name">เบอร์โทร</label>
            <input type="text" pInputText placeholder="{{checkParent[0].par_tel}}" [(ngModel)]="checkParent[0].par_tel"  required autofocus>
			<!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
        <div class="p-field">
            <label for="name">ที่อยู่</label>
            <input type="text" pInputText placeholder="{{checkParent[0].par_address}}" [(ngModel)]="checkParent[0].par_address"  required autofocus>
			<!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
		<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success" (click)="saveEditParent()"></button>
	</ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>