<p-toast></p-toast>
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<br>
<p-card>
<p-table [value]="allParentTotal"  styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
        <h3>ตารางข้อมูลผู้ปกครอง</h3>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>บัญชีผู้ใช้</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>เบอร์โทร</th>
            <th>ที่อยู่</th>
            <th style="text-align:center"></th>
            <th style="text-align:center">สถานะ</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product" >
            <td>{{product.parentUser}}</td>
            <td>{{product.parentTitle}}{{product.parentName}}</td>
            <td>{{product.parentSname}}</td>
            <td>{{product.parentTel}}</td>
            <td>{{product.parentAddress}}</td>
            <td style="text-align:center">
            </td>
            <td style="text-align:center">
                <button  pButton pRipple type="button"  icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                <button  pButton pRipple type="button"  icon="pi pi-trash" (click)="saveDeleteParent(product)" class="p-button-rounded p-button-text  p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</p-card>

<p-dialog  [(visible)]="parentDialog"[style]="{width: '450px'}" header="ข้อมูลผู้ปกครอง" [modal]="true"styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid p-ai-center vertical-container">
            <div class="p-col">
                <label for="name">คำนำหน้า</label>
                <p-dropdown
                     [options]="title" [(ngModel)]="checkParent.parentTitle" placeholder="{{checkParent.parentTitle}}">
                </p-dropdown>
            </div>
        </div>
        <div class="p-field">
            <label for="name">ชื่อผู้ใช้</label>
            <input type="text" pInputText placeholder="{{checkParent.parentName}}" [(ngModel)]="checkParent.parentName"  required autofocus>
			<!-- <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
        <div class="p-field">
            <label for="name">นามสกุล</label>
            <input type="text" pInputText placeholder="{{checkParent.parentSname}}" [(ngModel)]="checkParent.parentSname"  required autofocus>
        </div>
        <div class="p-field">
            <label for="name">เบอร์โทร</label>
            <input type="text" pInputText placeholder="{{checkParent.parentTel}}" [(ngModel)]="checkParent.parentTel"  required autofocus>
        </div>
        <div class="p-field">
            <label for="name">ที่อยู่</label>
            <input type="text" pInputText placeholder="{{checkParent.parentAddress}}" [(ngModel)]="checkParent.parentAddress"  required autofocus>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
		<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success" (click)="saveEditParent()"></button>
	</ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

