<p-card>
    <form [formGroup]="userForm" (ngSubmit)="ConfirmRegister(userForm.value)" >
        <h2>สมัครสมชิก</h2>
        <div class="p-grid p-flex-column" >
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="teacherUser">
                        <label for="inputtext">บัญชีผู้ใช้</label>  
                    </span>
                </div>
            </div>
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="password" pInputText formControlName="teacherPassword">
                        <label for="inputtext">รหัสผ่าน</label>  
                    </span>
                </div>
            </div>
            <div class="p-grid p-ai-center vertical-container" >
                <div class="p-col">
                   &nbsp; <p-dropdown [options]="title" formControlName="teacherTitle" ></p-dropdown>
                </div>
            </div>
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="teacherName">
                        <label for="inputtext">ชื่อผู้ใช้</label>  
                    </span>
                </div>
            </div>
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="teacherSname">
                        <label for="inputtext">นามสกุล</label>  
                    </span>
                </div>
            </div>
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="teacherAddress">
                        <label for="inputtext">ที่อยู่</label>  
                    </span>
                </div>
            </div>
            <div class="p-col">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="teacherTel">
                        <label for="inputtext">เบอร์โทร</label>  
                    </span>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6">
            <button pButton pRipple type="submit" label="ยืนยันการสมัคร"[disabled]="!userForm.valid"  class="p-button-raised p-button-success"
                ></button>
        </div>
    </form>
</p-card>